<mat-card class="profile-card">
    <mat-card-content>
        <app-profile-img></app-profile-img>
        <div class="profile-card-basic">
            <form [formGroup]="profileForm">
                <div class="profile-card-basic-info">
                    <div>
                        <mat-form-field  class="example-full-width">
                            <input formControlName="name" matInput placeholder="Name" value="Sushi">
                        </mat-form-field>
                        <div *ngIf="formControl.name.invalid" class="error-message">
                            <span> The name is required </span>
                        </div>
                    </div>
                    <div>
                        <mat-form-field  class="example-full-width">
                            <input type="email" formControlName="email" matInput placeholder="Email" value="Sushi">
                        </mat-form-field>
                        <div *ngIf="formControl.email.errors && formControl.email.errors.required" class="error-message">
                            <span> The email is required </span>
                        </div>
                        <div *ngIf="formControl.email.errors && formControl.email.errors.email" class="error-message">
                            <span> The email format is incorrect</span>
                        </div>
                    </div>
                </div>
                
                <div class="profile-card-basic-gender">
                    <label>Gender: </label>
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="profile-card-basic-info">
                    <mat-form-field  style="width: 100%;" class="example-full-width">
                        <textarea formControlName="description" matInput placeholder="Bio"></textarea>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </mat-card-content>
    <div class="profile-card-actions">
        <button [disabled]="profileForm.invalid" mat-raised-button (click)="submit()">Save</button>
    </div>
</mat-card>